.caja_detalle {
  padding: 30px;
  margin: 0 200px;
    padding-bottom: 19px;
   background-image: url("https://i.postimg.cc/TP3010Dr/bgfondo.jpg");  
  text-align: center;
  letter-spacing: 0.2em;
  font-family: 'Fredoka', sans-serif;
  color: aliceblue;
  border-radius: 30px;
  text-shadow: 2px 2px 2px blue;
}

.caja_contenido {
  padding: 50px;
}

.button_carrito {
  background-color: blueviolet;
  border: transparent;
  color: aliceblue;
  width: 90px;
  border-radius: 3px;
  height: 90px;
  margin-bottom: 487px;
  margin: 50px;
  }

.swal-modal {
  background-image: url("https://i.postimg.cc/TP3010Dr/bgfondo.jpg");
}

.swal-text {
  font-family: 'Fredoka', sans-serif;
  color: aliceblue;
}

.swal-button-container button {
color: aliceblue;
background-color: blueviolet;
}