.caja_detalle {
    margin: 0 200px;
    padding-bottom: 19px;
   background-image: url("https://i.postimg.cc/TP3010Dr/bgfondo.jpg");  
  text-align: center;
  letter-spacing: 0.2em;
  font-family: 'Fredoka', sans-serif;
  color: aliceblue;
  border-radius: 30px;
}