
.App-header {
  background-image: url(../public/bgfondo.jpg);
  animation: fondo 40s linear infinite;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:  0px;
}

.Nav_tester {
  font-size: medium;
  background-color: #073576;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  
}
.Nav_tester button {
  margin-left: 20px;
  border-radius: 30px;
}
.button:hover {
  background-color: #073576;
}

@keyframes fondo {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
