.button_item {
    background-color: blueviolet;
    border: transparent;
    color: aliceblue;
    width: 40px;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 487px;
    margin: 50px;
    }

.button_item:hover{
    box-shadow:  0 0 20px blue;
}

.card_boton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }

  .button_contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .button_item_compra {
    background-color: blueviolet;
    border: transparent;
    color: aliceblue;
    width: 80px;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 487px;
    margin: 50px;
  }

  .button_text {
    margin-top: 60px;
  }